.subscribe {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin-bottom: 50px;
}

@media (min-width: 992px) {


  .subscribe {
    background-image: url("./Assets/Images/DeskTop-Monitor.svg");
    height: 100vh;
    background-position:center;
    margin-bottom: 0px;
  }

  .subscribe .b{
    margin-top: 6rem;
    width: 35%;
    float: right;
  }
}
